html,body{height:100%;}

.calendar {
	background: #fff;
	border: 1px solid #a4bed4;
	padding: 1px;
	overflow: hidden
}
.layout-panel {
	position: absolute;
	overflow: hidden
}
.panel-east,.panel-west {
	z-index: 2;
	background1: #fff
}
.split-east {
	border-left: 5px solid #d2e0f2
}
.split-west {
	border-right: 5px solid #d2e0f2
}
.panel {
	overflow: hidden;
	font-size: 12px
}
.panel-header {
	padding: 5px;
	line-height: 15px;
	height: 15px;
	color: #15428b;
	font-weight: 700;
	font-size: 12px;
	background: url(images/panel_title.png) repeat-x;
	position: relative;
	border: 1px solid #99bbe8;
	background: #e0ecff;
	border-top-width: 0;
	cursor: pointer
}
.panel-body {
	background: #fff;
	overflow: hidden;
	overflow: auto;
	border: 1px solid #99bbe8;
	border-top-width: 0;
	padding: 0px;
	min-height:820px
}
.process-step{position: absolute; cursor: move; min-width: 100px; line-height: 28px}
.process-step span{cursor: pointer;}

/*连接线提示*/
.component {
  opacity: 0.8;
  filter: alpha(opacity=80);
  z-index: 20;
}
.wf_btn {
	padding: 4px 8px;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    -moz-padding-start: npx;
    -moz-padding-end: npx;
    border: solid 1px #ddd;
    background-color: #fff;
    width: auto;
}
.smalls{
    width: 90px;
	padding: 4px 6px;
	display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
	border: 1px solid #cccccc;
	background-color: #ffffff;
}
.tables th, .tables td {
    padding: 6px;
    line-height: 18px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
}