{include file='pub/base' /}
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i>  Tpflow 工作流插件示例 <a href="{:url('index/welcome')}"  class="btn btn-primary radius"> 返回</a>
<a onclick="layer_show('添加工作流','{:url('add')}','550','400')" class="btn btn-primary radius">添加工作流</a>
</nav>
<div class="page-container">

<table class="table table-border table-bordered table-bg">
    <tr>
        <th>ID</th>
        <th>流程名称</th>
        <th>流程类型</th>
        <th>添加时间</th>
		<th>状态</th>
        <th>操作</th>
    </tr>
    {volist name="list" id="vo"}
    <tr>
        <td>{$vo.id}</td>
        <td><span title="{$vo.flow_desc}">{$vo.flow_name}</span></td>
        <td>{$type[$vo.type]}</td>
        <td>{:date('Y/m/d H:i',$vo['add_time'])}</td>
		 <td>
		 {if condition='$vo.status == 0'}
		   正常
			{else/}
		   禁用
		 {/if}</td>
        <td>
	   <a class='btn  radius size-S' onclick="layer_show('修改','{:url('edit',['id'=>$vo.id])}','550','400')"> 修改</a>
	   
	   
       <a class='btn  radius size-S' href="{:url('/index/flowdesign/index',['flow_id'=>$vo['id']])}" target="_blank"> 设计流程</a>
	   {if condition='$vo.status == 0'}
		   <a class='btn  radius size-S' href="{:url('change',['id'=>$vo['id'],'status'=>1])}" target=> 禁用</a>
			{else/}
		 <a class='btn  radius size-S' href="{:url('change',['id'=>$vo['id'],'status'=>0])}" target=> 启用</a>
	   {/if}
	   
	   
	   </td>
    </tr>
    {/volist}
</table>

</div>