{include file='pub/base' /}
<header class="navbar-wrapper">
	<div class="navbar navbar-fixed-top">
		<div class="container-fluid cl"> <a class="logo navbar-logo f-l mr-10 hidden-xs" href="{:url('index')}">
		Tpflow</a> <a class="logo navbar-logo-m f-l mr-10 visible-xs" href="/aboutHui.shtml"></a> 
			<span class="logo navbar-slogan f-l mr-10 hidden-xs"> V1.5</span> 
			<span class='logo navbar-slogan f-l mr-10 hidden-xs'><b>这可能是Thinkphp第一款开源的，工作流插件</b>  </span>
			<span class='logo navbar-slogan f-l mr-10 hidden-xs'>开源协议：MIT  </span>
			<span class='logo navbar-slogan f-l mr-10 hidden-xs'>作者：蝈蝈（1838188896） 交流群：532797225</span>
		</nav>
		<nav id="Hui-userbar" class="nav navbar-nav navbar-userbar hidden-xs">
			<ul class="cl">
				<li class="dropDown dropDown_hover">
					<a href="#" class="dropDown_A">{if condition='$Think.session.uid'}欢迎您：{$Think.session.uname} 使用本插件！{else/}请先模拟登入！{/if}</a>
			</li>
			</ul>
		</nav>
	</div>
</div>
</header>
<!--左侧菜单开始-->
<aside class="Hui-aside">
		<div class="menu_dropdown bk_2" >
			<dl>
				<dt><i class="Hui-iconfont"></i> 新闻管理<i class="Hui-iconfont menu_dropdown-arrow"></i></dt>
				<dd style="display: block;"><ul>
				<li><a data-href="{:url('news/index')}" data-title="新闻管理" href="javascript:void(0)">新闻管理</a></li>
				</dd>
				</dl>
			<dl>
			{volist name='menu' id='k'}
			<dl>
				<dt><i class="Hui-iconfont"></i> {$k.name}<i class="Hui-iconfont menu_dropdown-arrow"></i></dt>
				<dd style="display: block;"><ul>
				<li><a data-href="{:url($k['url'])}" data-title="test" href="javascript:void(0)">{$k.name}</a></li>
				</dd>
				</dl>
			{/volist}
			<dl>
				<dt><i class="Hui-iconfont"></i> 用户管理<i class="Hui-iconfont menu_dropdown-arrow"></i></dt>
				<dd style="display: block;"><ul>
				<li><a data-href="{:url('user/index')}" data-title="用户列表" href="javascript:void(0)">用户列表</a></li>
				<li><a data-href="{:url('user/role')}" data-title="角色列表" href="javascript:void(0)">角色列表</a></li>
				</dd>
				</dl>
			<dl>
				<dt><i class="Hui-iconfont"></i> 表单自定义设计<i class="Hui-iconfont menu_dropdown-arrow"></i></dt>
				<dd style="display: block;"><ul>
				<li><a data-href="{:url('Formdesign/index')}" data-title="工作流列表" href="javascript:void(0)">表单设计</a></li>
				</dd>
			</dl>
			<dl>
				<dt><i class="Hui-iconfont"></i> 工作流设计<i class="Hui-iconfont menu_dropdown-arrow"></i></dt>
				<dd style="display: block;"><ul>
				<li><a data-href="{:url('flowdesign/lists')}" data-title="工作流列表" href="javascript:void(0)">工作流列表</a></li>
				<li><a data-href="{:url('flow/index')}" data-title="工作流监控" href="javascript:void(0)">工作流监控</a></li>
				</dd>
			</dl>
			
		</div>	
</div>
</aside>
<!--左侧菜单结束-->
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
<section class="Hui-article-box">
	<div id="Hui-tabNav" class="Hui-tabNav hidden-xs">
		<div class="Hui-tabNav-wp">
			<ul id="min_title_list" class="acrossTab cl">
				<li class="active">
					<span title="我的桌面" data-href="welcome.html">我的桌面</span>
					<em></em></li>
		</ul>
	</div>
		<div class="Hui-tabNav-more btn-group"><a id="js-tabNav-prev" class="btn radius btn-default size-S" href="javascript:;"><i class="Hui-iconfont">&#xe6d4;</i></a><a id="js-tabNav-next" class="btn radius btn-default size-S" href="javascript:;"><i class="Hui-iconfont">&#xe6d7;</i></a></div>
</div>
	<div id="iframe_box" class="Hui-article">
		<div class="show_iframe">
			<div style="display:none" class="loading"></div>
			<iframe scrolling="yes" frameborder="0" src="{:url('index/welcome')}"></iframe>
	</div>
</div>
</section>
<script>
var session ='{$Think.session.uid}';
if(session =='' ){
layer.open({
      type: 2,
      title: '网站',
      shadeClose: true,
      shade: false,
      maxmin: true, //开启最大化最小化按钮
      area: ['493px', '600px'],
      content: '//cojz8.com/'
    });
	}
</script>
</body>
</html>