{include file='pub/base' /}
{block name="content"}
<div class="page-container">
    <form class="form form-horizontal" id="form" method="post" action="">
        <input type="hidden" name="id" value="{$vo.id ?? ''}">
		<table class="table table-border table-bordered table-bg">
            <tr>
            <td>业务名称</td>
            <td ><input type="text" class="input-text" placeholder="业务名称" name="name" value="{$vo.name ?? ''}">
 </td>
            <td>业务备注</td>
            <td colspan=3><input type="text" class="input-text" placeholder="业务备注" name="bz" value="{$vo.bz ?? ''}">
 </td>
            </tr>
            <tr>
            <td>联系人</td>
            <td ><input type="text" class="input-text" placeholder="联系人" name="user" value="{$vo.user ?? ''}">
 </td>
            <td>联系人电话</td>
            <td ><input type="text" class="input-text" placeholder="联系人电话" name="tel" value="{$vo.tel ?? ''}">
 </td>
            <td>联系人地址</td>
            <td ><input type="text" class="input-text" placeholder="联系人地址" name="add" value="{$vo.add ?? ''}">
 </td>
            </tr>
            <tr>
            <td>备注</td>
            <td colspan=5><input type="text" class="input-text" placeholder="备注" name="bzs" value="{$vo.bzs ?? ''}">
 </td>
            </tr><td></td>
            <td></td><td></td>
            <td></td><td></td>
            <td></td></tr></table>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <button type="submit" class="btn btn-primary radius">&nbsp;&nbsp;提交&nbsp;&nbsp;</button>
                <button type="button" class="btn btn-default radius ml-20" onClick="layer_close();">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</div>
{/block}
{block name="script"}
<script type="text/javascript" src="__LIB__/Validform/5.3.2/Validform.min.js"></script>
<script>
    $(function () {


        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });

        $("#form").Validform({
            tiptype: 2,
            ajaxPost: true,
            showAllError: true,
            callback: function (ret){
                ajax_progress(ret);
            }
        });

    })

</script>
{/block}
