<link rel="stylesheet" type="text/css" href="__Flow__/workflow-common.css"/>
<div class="page-container">
	<table class="table">
			<tr class="text-c">
				<th>工作流编号</th>
				<th >工作流类型</th>
				<th >工作流名称</th>
				<th >当前状态</th>
				<th >业务办理人</th>
				<th >业务描述</th>
				<th >操作</th>
			</tr>
		<tbody>
			{volist name='list' id='k'}
			<tr class="text-c">
				<td>{$k.id}</td>
				<td>{$k.from_table}</td>
				<td>{$k.flow_name}</td>
				<td>
				{if condition='$k.status == 0'}
					未审核
				{else/}
					已审核
				{/if}
				</td>
				<td>{$k.user}</td>
				<td>{:date('Y-m-d H:i:s',$k['dateline'])}</td>
				<td>
				<a onclick='end({$k.id})'>终止</a>  |  
				{:\\workflow\\Api::wfbtn($k.from_id,$k.from_table,100);}
				</td>
				
			</tr>
			{/volist}
		</tbody>
	</table>
</div>
<script type="text/javascript" src="__Flow__/jquery-1.7.2.min.js" ></script>
<script type="text/javascript" src="__Flow__/lib/layer/2.4/layer.js" ></script>
<script type="text/javascript" src="__Flow__/workflow-common.3.0.js" ></script>
<script>
function end(id){
		layer.confirm('你确定终止此流程？[此操作无法恢复]',function(index){
			$.ajax({
				type: 'POST',
				url: '{:url($int_url."/wf/wfend")}?id='+id,
				dataType: 'json',
				success: function(data){
					layer.msg('操作成功!',{icon:1,time:1000});
					setTimeout("location.reload()",1000);
				},
				error:function(data) {
					console.log(data.msg);
				},
			});		
		});
	}
</script>
</body>
</html>