<link rel="stylesheet" type="text/css" href="__Flow__/workflow-common.css"/>
<article class="page-container">
		<form action="{:url($int_url.'/wf/statr_save')}" method="post" name="form" id="form">
		<input type='hidden' value='{$info.wf_type}' name='wf_type'>
		<input type='hidden' value='{$info.wf_fid}' name='wf_fid'>
		<table class="table">
			<tr>
			<td style='width:85px'>项目名称：</td>
			<td>{$info.wf_title}</td>
			</tr>
			<tr>
			<td>选择工作流：</td><td>
			<span class="select-box">
				<select name="wf_id"  class="select"  datatype="*" >
					<option value="">请选择工作流</option>
					{volist name='flow' id='k'}
					<option value="{$k.id}">{$k.flow_name}</option>
					{/volist}
				</select>
				</span>
			</td>
			</tr>
			
			<tr>
			<td>紧急程度：</td><td>
			<span class="select-box">
				<select name="new_type"  class="select"  datatype="*" >
					<option value="0">普通</option>
					<option value="1">加急</option>
					<option value="2">紧急</option>
					<option value="3">特急</option>
				</select>
				</span>
			</td>
			</tr>
			<tr>
			<td>审核意见：</td><td>
				<input type="text" class="input-text" value="{$info.new_title ?? ''}" name="check_con"  datatype="*" >
			</td>
			</tr>
			<tr>
			<td colspan='2' class='text-c'>
			
			<button  class="button" type="submit">&nbsp;&nbsp;保存&nbsp;&nbsp;</button>
				<button  class="button" type="button" onclick="layer_close()">&nbsp;&nbsp;取消&nbsp;&nbsp;</button></td>
			</tr>
		</table>
		
		
	</form>
</article>

<script type="text/javascript" src="__Flow__/jquery-1.7.2.min.js" ></script>
<script type="text/javascript" src="__Flow__/lib/layer/2.4/layer.js" ></script>
<script type="text/javascript" src="__Flow__/workflow-common.3.0.js" ></script>
<script type="text/javascript" src="__Flow__/lib/Validform/5.3.2/Validform.min.js" ></script>
<script type="text/javascript">
$(function(){
	$("#form").Validform({
            tiptype:function(msg,o,cssctl){
				if (o.type == 3){
					layer.msg(msg, {time: 800}); 
				}
			},
            ajaxPost:true,
            showAllError:true,
            callback:function(ret){
                ajax_progress(ret);
            }
        });

});
</script>
</body>
</html>