{include file='pub/base' /}
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i>  Tpflow 工作流插件示例 
<a href="{:url('index/index')}"  class="btn btn-primary radius"> 返回</a>

<a href="javascript:;" onclick="layer_show('新增新闻','{:url('add')}','850','500')" class="btn btn-primary radius">
	<i class="Hui-iconfont">&#xe600;</i> 新增新闻</a></nav>
<div class="page-container">
	<table class="table table-border table-bordered table-bg">
		<thead>
			<tr class="text-c">
				<th width="25">ID</th>
				<th width="50">发布人</th>
				<th width="80">新闻类型</th>
				<th width="150">新闻标题</th>
				<th width="150">发布时间</th>
				<th width="150">状态</th>
				<th width="100">操作</th>
			</tr>
		</thead>
		<tbody>
			{volist name='list' id='k'}
			<tr class="text-c">
				<td>{$k.id}</td>
				<td>{$k.uid}</td>
				<td>{$k.new_type}</td>
				<td>{eq name='$k.new_top' value='1'}
				<i class="Hui-iconfont" style='color:red'>&#xe684;</i>
				{/eq}{$k.new_title}</td>
				<td>{$k.add_time|date='Y-m-d H:i'}</td>
				<td>
				{if condition='$k.flowinfo.bill_st eq -1'}
					保存
					{else/}
					{$k.flowinfo.bill_state}</br>
				{/if}</td>
				<td class="td-manage">
				<div class="btn-group">
					<span class="btn  radius size-S" data-title="查看" data-href="{:url('view',['id'=>$k.id])}" onclick="Hui_admin_tab(this)"><i class="Hui-iconfont">查看</span>
					{if condition='$k.flowinfo.bill_st eq -1'}
					<span class="btn  radius size-S" onclick="layer_show('发起工作流','{:url('/index/flow/start/',['wf_type'=>'news','wf_title'=>$k.new_title,'wf_fid'=>$k.id])}','450','350')">发起</span>
					{/if}
					{if condition='$k.flowinfo.bill_st eq 0'}
					<span class="btn  radius size-S" onclick="layer_show('审核','{:url('/index/flow/do_check/',['wf_type'=>'news','wf_title'=>$k.new_title,'wf_fid'=>$k.id])}','850','650')">审核</span>
					{/if}
					<span class="btn  radius size-S" onclick="layer_show('修改','{:url('edit',['id'=>$k.id])}','850','500')">修改</span>
				</div>
				</td>
			</tr>
			{/volist}
		</tbody>
	</table>
</div>
<div class="page-bootstrap">{$list|raw}</div>
</body>
</html>