<extend name="Public/base" />

<block name="title">
    <title>流程设计器 实例演示 Flowdesign.leipi.org</title>
    <meta name="keyword" content="流程设计器实例演示,Web Flowdesign,Flowdesigner,专业流程设计器,WEB流程设计器">
    <meta name="description" content="流程设计器实例演示，国内最容易使用和开发的流程设计器，你可以在此基础上任意修改使功能无限强大！">
</block>
<block name="head">
</block><!--end head-->

<block name="body">


<div class="bs-header" id="content">
  <div class="container">

    <h1>流程设计器使用实例演示</h1>
    <p>
       使用流程设计器，有效强化系统审批工作的功能！<br /> 本实例仅方便大家了解使用方法和简化二次开发，你可以任意修改使功能无限强大！
    </p>
    
  </div>
</div>

<div class="container">

<div class="row">
    <ol class="breadcrumb">
        <li><a href="/">流程设计器</a> <span class="divider">/</span></li>
        <li><a href="{:url('/demo')}">实例</a> <span class="divider">/</span></li>
        <li class="active"><if condition="empty($one)">添加<else/>编辑</if></li>
    </ol>
</div>

<div class="row">
<form action="{:url('/demo/'.$_action)}" method="post">
<input type="hidden" value="{$one.id}" name="flow_id">


<p>
    <label>流程名称</label>
    <input type="text" class="span6" placeholder="必填项" name="flow_name" value="{$one.flow_name}">
</p>

<p>
    <label>选择表单</label>
    <select name="form_id">
        <volist name="form_list" id="vo">
        <option value="{$vo.id}" <if condition="$vo['id'] eq $one['form_id']">selected="selected"</if>>{$vo.form_name}</option>
        </volist>
    </select>
</p>

<p>
    <label>流程描述</label>
    <textarea rows="4" class="span6" placeholder="简单描述一下也好呀" name="flow_desc">{$one.flow_desc}</textarea>
</p>
<button type="submit" name="submit_to_save" value="save" class="btn btn-success">确定保存</button>
</form>


</div><!--end row-->
</div><!--end container-->




<block name="footer_js">

<!-- script end -->


</block><!--end footer_js-->