{include file='pub/base' /}
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i>  Tpflow 工作流插件示例 <a href="{:url('index/index')}"  class="btn btn-primary radius"> 返回</a></nav>
<div class="page-container">

<table class="table table-border table-bordered table-bg">
    <tr>
        <th>ID</th>
        <th>流程名称</th>
        <th>表单</th>
        <th>类型</th>
        <th>适用部门</th>
        <th>添加时间</th>
        <th>操作</th>
    </tr>
    {volist name="list" id="vo"}
    <tr>
        <td>{$vo.id}</td>
        <td><span title="{$vo.flow_desc}">{$vo.flow_name}</span></td>
        <td>{$vo.form_id}</td>
        <td>固定流程</td>
        <td>默认</td>
        <td>{:date('Y/m/d H:i',$vo['dateline'])}</td>
        <td>
       <a class='btn  radius size-S' href="{:url('/index/flowdesign/index',['flow_id'=>$vo['id']])}" target="_blank"> 设计流程</a></td>
    </tr>
    {/volist}
</table>

</div>