<!DOCTYPE HTML>
<html>
 <head>
    <block name="title">
    <title> Flowdesign.leipi.org</title>
    <meta name="keyword" content="流程设计器,Web Flowdesign,Flowdesigner,专业流程设计器,WEB流程设计器">
    <meta name="description" content="国内最容易使用和开发的流程设计器，你可以在此基础上任意修改使功能无限强大！">
    </block>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="author" content="leipi.org">

    <block name="head"><!--head  style or js --></block>
 </head>
<body>


	<block name="body"><!--主体内容--></block>


    <block name="footer_js"><!--footer js --></block>
    

</body>
</html>