<!DOCTYPE HTML>
<html>
 <head>
        <title> Flowdesign.leipi.org</title>
  <meta name="keyword" content="流程设计器,Web Flowdesign,Flowdesigner,专业流程设计器,WEB流程设计器">
  <meta name="description" content="国内最容易使用和开发的流程设计器，你可以在此基础上任意修改使功能无限强大！">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="author" content="leipi.org">
    <link href="__Flow__/css/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <!--[if lte IE 6]>
    <link rel="stylesheet" type="text/css" href="__Flow__/css/bootstrap/css/bootstrap-ie6.css">
    <![endif]-->
    <!--[if lte IE 7]>
    <link rel="stylesheet" type="text/css" href="__Flow__/css/bootstrap/css/ie.css">
    <![endif]-->
    <link href="__Flow__/css/site.css" rel="stylesheet" type="text/css" />
    
 </head>
<body>

<!-- fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="http://www.leipi.org" target="_blank">雷劈网</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
            <li><a  href="http://flowdesign.leipi.org/">流程设计器</a></li>
            <li><a href="http://formdesign.leipi.org">表单设计器</a></li>
            <li><a href="http://qrcode.leipi.org">自动生成二维码</a></li>
            <li><a href="http://flowdesign.leipi.org/index.php?s=/doc.html">文档</a></li>
			<li class="active"><a href="{:url('/demo')}">实例</a></li>
            <li><a href="http://flowdesign.leipi.org/index.php?s=/downloads.html">下载</a></li>
            <li><a href="http://flowdesign.leipi.org/index.php?s=/feedback.html">公开讨论</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<include file="Public:team"/>



</body>
</html>