{include file='pub/base' /}
<nav class="breadcrumb">
<i class="Hui-iconfont">&#xe67f;</i>  Tpflow 工作流插件示例 
<a href="{:url('index/welcome')}"  class="btn btn-primary radius"> 返回</a>
<a onclick="layer_show('新增管理员','{:url('add')}','850','500')" class="btn btn-primary radius">
	<i class="Hui-iconfont">&#xe600;</i> 添加管理员</a>
</nav>
<div class="page-container">
	<table class="table table-border table-bordered table-bg">
		<thead>
			<tr class="text-c">
				<th width="25"><input type="checkbox" name="" value=""></th>
				<th width="40">ID</th>
				<th width="150">登录名</th>
				<th width="90">手机</th>
				<th width="150">邮箱</th>
				<th>角色</th>
				<th width="130">加入时间</th>
				<th width="100">是否已启用</th>
				<th width="100">操作</th>
			</tr>
		</thead>
		<tbody>
			{volist name='list' id='k'}
			<tr class="text-c">
				<td><input type="checkbox" value="1" name=""></td>
				<td>{$k.id}</td>
				<td>{$k.username}</td>
				<td>{$k.tel}</td>
				<td>{$k.mail}</td>
				<td>{:get_rolename($k.role)}</td>
				<td>{$k['add_time']|date='Y-m-d H:i'}</td>
				<td class="td-status"><span class="label {eq name='$k.status' value='1'}label-success{/eq} radius">已启用</span></td>
				<td class="td-manage">
				{neq name='$k.id' value='1'}
				<a style="text-decoration:none" onClick="admin_stop(this,'10001')" href="javascript:;" title="停用">
				<i class="Hui-iconfont">&#xe631;</i></a> 
				<a title="编辑" href="javascript:;" onclick="layer_show('修改管理员','{:url('edit',['id'=>$k.id])}','850','500')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
				<a title="删除" href="javascript:;" onclick="admin_del(this,'{$k.id}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
				{/neq}
			</tr>
			{/volist}
		</tbody>
	</table>
</div>

<script type="text/javascript">

/*管理员-删除*/
function admin_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '{:url("del")}.?id='+id+'',
			dataType: 'json',
			success: function(data){
				if(data.code==0){
					$(obj).parents("tr").remove();
				}
				layer.msg('已删除!',{icon:1,time:1000});
			},
			error:function(data) {
				console.log(data.msg);
			},
		});		
	});
}

/*管理员-编辑*/
function admin_edit(title,url,id,w,h){
	layer_show(title,url,w,h);
}
/*管理员-停用*/
function admin_stop(obj,id){
	layer.confirm('确认要停用吗？',function(index){
		//此处请求后台程序，下方是成功后的前台处理……
		
		$(obj).parents("tr").find(".td-manage").prepend('<a onClick="admin_start(this,id)" href="javascript:;" title="启用" style="text-decoration:none"><i class="Hui-iconfont">&#xe615;</i></a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-default radius">已禁用</span>');
		$(obj).remove();
		layer.msg('已停用!',{icon: 5,time:1000});
	});
}

/*管理员-启用*/
function admin_start(obj,id){
	layer.confirm('确认要启用吗？',function(index){
		//此处请求后台程序，下方是成功后的前台处理……
		
		
		$(obj).parents("tr").find(".td-manage").prepend('<a onClick="admin_stop(this,id)" href="javascript:;" title="停用" style="text-decoration:none"><i class="Hui-iconfont">&#xe631;</i></a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
		$(obj).remove();
		layer.msg('已启用!', {icon: 6,time:1000});
	});
}
</script>
</body>
</html>